@{
    ViewBag.Title = "Community";
}

<div style="overflow-y:scroll">
    <div>
        <div class="GroupContainer-Modelo-Upper-Joke-Community">
            <div class="middle-text-Modelo-Community-Joke">
                <div class="middle-text-Modelo-Community-Joke">Actualmente, estamos sobrecargados en atención debido a un exceso de carga en la realización de este trabajo.</div>
                <div class="middle-text-Modelo-Community-Joke" style="margin-top: 2vh;">Se recomienda aprobar al mismo para adquirir una atención más rápida.</div>
            </div>
        </div>
    </div>
    <div style="height:15vh"></div>
    <div>
        <div class="GroupContainer-Modelo-Upper-KPI">
            <div class="Center-Piece-Modelo-KPI">
                <div class="middle-text-Modelo-KPI">Comunidad activa, con más de 350 millones de usuarios.</div>
                <div class="middle-text-Subtitle-KPI">La plataforma de audio más popular del mundo.</div>
            </div>
        </div>
    </div>
    <div style="height:48vh"></div>
    <div>
        <div class="GroupContainer-Modelo-Lower-Community">
            <div class="Center-Piece-Modelo">
                <div class="middle-text-Modelo">Objetivos Claros, metas alcanzables.</div>
                <div class="middle-text-Subtitle">Para ejecutar nuestra estrategia a la perfección, pretendemos cumplir los siguientes objetivos:</div>
                <div class="middle-text-img-container-KPI">
                    <img style="min-width: 10vw;" src="~/Content/images/Objetivo1.png" alt="objetivo" />
                    <img style="min-width: 10vw;" src="~/Content/images/Objetivo2.png" alt="objetivo" />
                    <img style="min-width: 10vw;" src="~/Content/images/Objetivo 3.png" alt="objetivo" />
                </div>
            </div>
            <div class="Center-Piece-Modelo">
                <div class="middle-text-Modelo">Planes de acción concisos.</div>
                <div class="middle-text-Subtitle">Tácticas y acciones que nos guian a realizar nuestros objetivos.</div>
                <div class="middle-text-img-container-KPI" style="display:inline-flex">
                    <img style="min-width: 10vw;" src="~/Content/images/Acción1.png" alt="Spotify Kids" />
                    <div style="padding-top: 35px;" class="middle-text-Subtitle">
                        Comunicaciones y pauta paga a través de Facebook e Instagram para el segmento de adultos de entre 30 y 45 años que tengan hijos y sean usuarios activos de Spotify.
                        Tipos de contenido: Historias y posteos relacionados a Días especiales (ej. Día de las infancias).
                    </div>
                </div>
                <div class="middle-text-img-container-KPI" style="display:inline-flex; margin-top: 0px !important;">
                    <img style="min-width: 10vw;" src="~/Content/images/Acción2.png" alt="Podcasts" />
                    <div style="padding-top: 35px;" class="middle-text-Subtitle">
                        Comunicaciones y pauta paga a través de Facebook e Instagram para el segmento de jóvenes profesionales o universitarios de entre 25 y 35 años que sean usuarios activos de Spotify.
                        Tipos de contenidos: Historias y posteos con notas de interés.
                    </div>
                </div>
                <div class="middle-text-img-container-KPI" style="display:inline-flex; margin-top: 0px !important;">
                    <img style="min-width: 10vw;" src="~/Content/images/Acción3.png" alt="Spotify" />
                    <div style="padding-top: 35px;" class="middle-text-Subtitle">
                        Número de descargas: Pauta paga a través de Facebook e Instagram para el segmento de adultos de entre 40 y 70 años.
                        Tipos de contenido: Historias y posteos implementando el Insight "Rememora tus mejores épocas estés donde estés".
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:130vh;"></div>
    <div>
        <div class="GroupContainer-ads">
            <div class="middle-text-Ads">
                <div style="color:#ffffff; margin-top:20px;" class="middle-text-Modelo">Recursos modernos y de uso eficiente.</div>
                <div class="divider-ads">
                    <div style="color:#ffffff; width: 25vw;" class="middle-text-Subtitle-2">
                        <span>Diseñadores gráficos, con design minimalista y limpio.</span>
                        <div style="height:20px"></div>
                        <span>Agencias de Pautas Digitales.</span>
                        <div style="height:20px"></div>
                        <span>Redactores creativos.</span>
                        <div style="height:20px"></div>
                        <span>Community Manager</span>
                        <div style="height:20px"></div>
                        <span>Paquete de herramientas Adobe.</span>
                    </div>
                    <div>
                        <img style="margin-left: 175px;" src="~/Content/images/adobe logo.png" alt="Adobe" />
                    </div>
                </div>
                <div style="color:#ffffff; margin-top:20px;" class="middle-text-Modelo">Acompañados de plazos optimizados</div>
                <div style="color:#fff;" class="middle-text-Subtitle">
                    <span>- Tiempo para la realización de las creatividades: 2 semanas.</span><p></p>
                    <span>- 3 posteos semanales.</span><p></p>
                    <span>- 5 historias semanales.</span><p></p>
                    <span>- Duración de la estrategia: 3 meses (Julio - Septiembre).</span>
                </div>
            </div>
            <div class="extra-container-social-media">
                <div class="middle-text-Subtitle footer-socials">Visitanos en nuestras redes:</div>
                <div style="display:inline-flex; margin-left: 15px;">
                    <img class="social-media" src="~/Content/images/Facebook-ico.png" id="facebook" alt="Facebook" />
                    <img class="social-media" src="~/Content/images/logo-instagram.png" id="instagram" alt="Instagram" />
                    <img class="social-media" src="~/Content/images/Logo-twitter.png" id="twitter" alt="Twitter" />
                </div>
            </div>
        </div>
    </div>
</div>
