@{
    ViewBag.Title = "Intro";
}

<div style="overflow-y:scroll">
    <div class="GroupContainer">
        <div class="center-piece-intro">
            <div class="middle-text">Un Trabajo Practico</div>
            <div class="smaller-intro-text">para cambiar todo.</div>
        </div>
    </div>
    <div style="height:87vh"></div>
</div>
