@{
    ViewBag.Title = "Intro";
}

<div style="overflow-y:scroll">
    <div class="GroupContainer">
        <div class="center-piece-intro">
            <div class="middle-text">Un Trabajo Practico</div>
            <div class="smaller-intro-text">para cambiar todo.</div>
        </div>
    </div>
    <div style="height:95vh"></div>
    <div>
        <div class="GroupContainer-nosotros">
            <div class="center-piece-intro-nosotros">
                <div class="middle-text-nosotros">Hecho por los mejores alumnos.</div>
                <div>
                    <img src="~/Content/images/signature.png" alt="Ignacio Manuel" />
                    <img src="~/Content/images/SignatureNicolas.png" alt="Nicolas Petersen" />
                </div>
            </div>
        </div>
    </div>
</div>
