@{
    ViewBag.Title = "Media Planning";
}

<div style="overflow-y:scroll">
    <div>
        <div class="GroupContainer-Modelo-Upper-KPI">
            <div class="Center-Piece-Modelo-KPI">
                <div class="middle-text-Modelo-KPI">Media's the name, music's the game.</div>
                <div class="middle-text-Subtitle-KPI">Análisis de alta performance de datos masivos.</div>
            </div>
        </div>
    </div>
    <div style="height:48vh"></div>
    <div>
        <div class="GroupContainer-Modelo-Lower-KPI">
            <div class="Center-Piece-Modelo">
                <div class="middle-text-Modelo">Nuestros objetivos para el próximo trimestre:</div>
                <div class="middle-text-Subtitle">Utilizando nuestras métricas, pretendemos alcanzar:</div>
                <div class="middle-text-img-container-KPI">
                    <img style="min-width: 10vw;" src="~/Content/images/kpi1.png" alt="KPI" />
                    <img style="min-width: 10vw;" src="~/Content/images/kpi2.png" alt="KPI" />
                    <img style="min-width: 10vw;" src="~/Content/images/kpi3.png" alt="KPI" />
                    <img style="min-width: 10vw;" src="~/Content/images/kpi4.png" alt="KPI" />
                    <img style="min-width: 10vw;" src="~/Content/images/kpi5.png" alt="KPI" />
                    <img style="min-width: 10vw;" src="~/Content/images/kpi6.png" alt="KPI" />
                </div>
            </div>
        </div>
    </div>
    <div style="height:75vh"></div>
    <div>
        <div class="GroupContainer-KPI-Joke">
            <div class="middle-text-Ads">
                <div style="color:#ffffff" class="middle-text-Subtitle-2">Try out our data processing.</div>
                <div style="color:#ffffff; margin-top:20px; display: inline-flex; margin-bottom: -125px;" class="middle-text-Modelo">
                    <div>Probalo vos mismo.</div>
                    <div>
                        <img src="~/Content/images/kpi-7.png" alt="KPI" style="width:10vw; margin-left: 22vw;" />
                    </div>
                </div>
                <div class="divider-ads">
                    <div style="color:#ffffff; width: 25vw;" class="middle-text-Subtitle-2">
                        <span>Haz una prueba con un registro de datos analíticos ya cargado.</span>
                        <div class="second-textbox-btn-modelo">
                            <div class="btn-propuesta" style="margin-top: 20px;" id="Analytics">Hacé una prueba</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:35vh" id="jokeDivider1"></div>
    <div>
        <div class="GroupContainer-KPI-Joke-2" id="jokeDiv">
            <div class="Center-Piece-Modelo">
                <img src="~/Content/images/Loading.gif" style="width:5vw" alt="Cargando..." />
            </div>
        </div>
    </div>
    <div>
        <div class="GroupContainer-KPI-Joke-2" id="jokeDiv2">
            <div class="Center-Piece-Modelo">
                <div class="middle-text-Subtitle" style="color:white !important">Utilizando nuestras métricas, pudimos detectar un 100% de chance de aprobar el TP, y un 90% de promocionar.</div>
            </div>
        </div>
    </div>
</div>
