@{
    ViewBag.Title = "Modelo de negócios";
}

<div style="overflow-y:scroll">
    <div>
        <div class="GroupContainer-Modelo-Upper">
            <div class="center-piece-modelo-upper">
                <div style="display:inline-block">
                    <div style="width:25vw">Somos una empresa Freemium, a base de suscripciones.</div>
                    <div class="subtitle-modelo">El servicio base es gratuito, con algunas limitaciones.</div>
                </div>
                <div class="image-center-piece-modelo-upper">
                    <img class="img-center" src="~/Content/images/Modelo-img1.png" alt="Spotify Freemium" />
                </div>
            </div>
            <div class="second-textbox-btn-modelo">
                <div class="btn-propuesta" id="Propuesta">Entendé nuestra propuesta.</div>
            </div>
        </div>
    </div>
    <div style="height:53vh"></div>
    <div>
        <div class="GroupContainer-freemium">
            <div class="Center-Piece-Modelo">
                <div class="middle-text-Modelo">Los servicios de streaming de música son gratuitos.</div>
                <div class="middle-text-Subtitle">Por otro lado, los siguientes servicios adicionales sólo se pueden utilizar en cuentas premium.</div>
                <div class="middle-text-img-container">
                    <img style="min-width: 50vw;" src="~/Content/images/beneficios.png" alt="Beneficios Spotify" />
                </div>
            </div>
        </div>
    </div>
    <div style="height:53vh"></div>
    <div>
        <div class="GroupContainer-ads">
            <div class="middle-text-Ads">
                <div style="color:#ffffff" class="middle-text-Subtitle-2">El segundo punto menciona la principal fuente de ingreso desde un usuario gratuito:</div>
                <div style="color:#ffffff; margin-top:20px;" class="middle-text-Modelo">Propagandas (Ads).</div>
                <div class="divider-ads">
                    <div style="color:#ffffff; width: 25vw;" class="middle-text-Subtitle-2">
                        <span>Estas propagandas no son solo del producto, como tambien de terceros. La idea es entusiasmar al cliente a adherir al servicio pago.</span>
                        <div style="height:40px"></div>
                        <span>Existen 3 opciones, como visto a la derecha. También no es incomún una demonstración grátis (a la fecha de este trabajo, por 3 meses).</span>
                        <div style="height:40px"></div>
                        <span>Todos estos factores determinan que el modelo de negócios de Spotify es en base a un modelo Freemium.</span>
                    </div>
                    <div class="Subscription">
                        <span>Adquiere una suscripción</span>
                        <span style="font-size:14px; margin-top: 1px">Las suscripciones pueden ser:</span>
                        <div style="height:5px"></div>
                        <span style="text-align:left">Individuales</span>
                        <div style="height:5px"></div>
                        <span style="text-align:left">Duo (2 personas)</span>
                        <div style="height:5px"></div>
                        <span style="text-align:left">Familiar (4 personas)</span>
                        <div style="border:solid #000000 1px; margin-top: 2px; margin-bottom: 2px;"></div>
                        <span style="font-size: 14px;">La opción Familiar es la que entrega un mayor numero de beneficios.</span>
                        <div style="height:5px"></div>
                        <div style="border:solid #000000 1px; margin-top: 2px; margin-bottom: 2px;"></div>
                        <span style="font-size: 14px;">La opción Duo contiene una funcionalidad única: el duo playlist.</span>
                        <div style="height:5px"></div>
                        <div style="border:solid #000000 1px; margin-top: 2px; margin-bottom: 2px;"></div>
                        <span style="font-size: 14px;">La opción Individual es la más barata, pero la más limitada.</span>
                        <div style="height:5px"></div>
                        <div style="border:solid #000000 1px; margin-top: 2px; margin-bottom: 2px;"></div>
                        <span style="font-size: 14px;">Luego, la principal fuente de ingresos proviene desde la</span>
                        <div class="btn-subscription">Suscripción</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
