@{
    ViewBag.Title = "Plataformas de Negócios";
}

<div style="overflow-y:scroll">
    <div>
        <div class="GroupContainer-Modelo-Upper">
            <div class="center-piece-modelo-upper">
                <div style="display:inline-block">
                    <div style="width:25vw">El mejor App para escuchar música por streaming del mundo.</div>
                    <div class="subtitle-modelo">Estamos disponibles en las siguientes plataformas:</div>
                </div>
                <div class="image-center-piece-modelo-upper">
                    <img class="img-center" src="~/Content/images/Modelo-img2.png" alt="Spotify Freemium" />
                </div>
            </div>
            <div class="second-textbox-btn-modelo">
                <img class="img-plataformas" src="~/Content/images/AppStore.png" alt="AppStore" id="appstore" />
                <img class="img-plataformas" src="~/Content/images/GooglePlay.png" alt="Google Play" id="googleplay" />
                <img class="img-plataformas" src="~/Content/images/PlayStation.png" alt="PlayStation Store" id="playstation" />
                <img class="img-plataformas" src="~/Content/images/Windows Store.png" alt="Windows Store" id="windows" />
            </div>
        </div>
    </div>
    <div style="height:53vh"></div>
    <div>
        <div class="GroupContainer-Modelo-Upper-KPI">
            <div class="Center-Piece-Modelo-KPI">
                <div class="middle-text-Modelo-KPI">Nuevos horizontes para la aplicación.</div>
                <div class="middle-text-Subtitle-KPI">
                    Llegaremos al público en distintas plataformas, como Instagram, Twitter, Twitch y Youtube.
                    <img src="~/Content/images/focosPlataformas.png" alt="Plataformas" />
                </div>
            </div>
        </div>
        <div style="height:48vh"></div>
        <div>
            <div class="GroupContainer-Modelo-Lower-KPI">
                <div class="Center-Piece-Modelo">
                    <div class="middle-text-Modelo">Tácticas de SEO avanzadas</div>
                    <div class="middle-text-Subtitle">Aplicando Técnicas de SEO avanzadas, nos diferenciamos de nuestra competencia.</div>
                    <div class="middle-text-img-container-KPI">
                        <img style="max-width: 12vw; margin-right: 15px;" src="~/Content/images/Keywords.png" alt="Keywords" />
                        <img style="max-width: 12vw; margin-right: 15px;" src="~/Content/images/keywords-2.png" alt="KeyWords" />
                        <img style="max-width: 12vw; margin-right: 15px;" src="~/Content/images/BuyerPersona.png" alt="BuyerPersona" />
                        <img style="max-width: 12vw; margin-right: 15px;" src="~/Content/images/Competicion.png" alt="Competition" />
                    </div>
                </div>
            </div>
        </div>
        <div style="height:55vh"></div>
        <div>
            <div class="GroupContainer-KPI-Joke">
                <div class="middle-text-Ads">
                    <div style="color:#ffffff" class="middle-text-Subtitle-2">Try out our Keyword search Engine.</div>
                    <div style="color:#ffffff; margin-top:20px; display: inline-flex; margin-bottom: -125px;" class="middle-text-Modelo">
                        <div>Pruébalo vos mismo.</div>
                        <div>
                            <img src="~/Content/images/kpi-7.png" alt="KPI" style="width:10vw; margin-left: 22vw;" />
                        </div>
                    </div>
                    <div class="divider-ads">
                        <div style="color:#ffffff; width: 25vw;" class="middle-text-Subtitle-2">
                            <span>Mirá nuestras pautas para el procesamiento de keywords.</span>
                            <div class="second-textbox-btn-modelo">
                                <div class="btn-propuesta" style="margin-top: 20px;" id="docs">Accede a nuestra documentación.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>