@{
    ViewBag.Title = "Privacidad";
}

<div style="overflow-y:scroll">
    <div>
        <div class="GroupContainer-Modelo-Upper-privacidad">
            <div class="Center-Piece-Modelo-privacidad">
            </div>
        </div>
    </div>
    <div style="height:50vh"></div>
    <div>
        <div class="GroupContainer-Privacidad">
            <div class="Center-Piece-Modelo">
                <div class="middle-text-Modelo" style="float:left;">Políticas de privacidad de Spotify.</div>
            </div>
            <div class="Center-Piece-Modelo">
                <div style="width: fit-content;">Fecha de vigor: @DateTime.Now;</div>
            </div>
            <div class="Center-Piece-Modelo">
                <div class="catalogue-title">Nuestra política de privacidad nos permite compartir datos con los siguientes terceros.</div>
                <div class="catalogue">
                    <a id="title1" style="color: #1DB954 !important" href="#">Proveedores de servicios.</a>
                    <p></p>
                    <a id="title2" style="color: #1DB954 !important" href="#">Entidades de procesamiento de pago.</a>
                    <p></p>
                    <a id="title3" style="color: #1DB954 !important" href="#">Colaboradores publicitarios.</a>
                    <p></p>
                    <a id="title4" style="color: #1DB954 !important" href="#">Colaboradores de Spotify.</a>
                    <p></p>
                    <a id="title5" style="color: #1DB954 !important" href="#">Investigadores académicos.</a>
                    <p></p>
                    <a id="title6" style="color: #1DB954 !important" href="#">Otras empresa del grupo Spotify.</a>
                    <p></p>
                    <a id="title7" style="color: #1DB954 !important" href="#">Autoridades competentes y agencias de protección de datos.</a>
                    <p></p>
                    <a id="title8" style="color: #1DB954 !important" href="#">Compradores de nuestra empresa.</a>
                </div>
                <div id="div1" class="catalogue-title-2" style="margin-top: -20px">Proveedores de servicios.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    Nos permite mejorar la protección y seguridad de los sistemas. <p></p>
                    Ejemplo: Entidad que se encargue del soporte tecnológico de Spotify, se lo tercerizan, actualmente lo realiza directamente Spotify.
                </div>
                <div id="div2" class="catalogue-title-2">Entidades de procesamiento de pagos.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    Esto permite el procesamiento de los pagos y evitar el fraude. <p></p>
                    Ejemplo: Entidad que se encargue de la parte informática del procesamiento de los pagos.
                </div>
                <div id="div3" class="catalogue-title-2">Colaboradores publicitarios.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    Permite poder personalizar los contenidos que se les ofrece a los usuarios en cuanto a publicidad, para que sea lo más adecuado al usuario. <p></p>
                    Ejemplo: Personas encargadas de las publicidades que aparecen en la aplicación.
                </div>
                <div id="div4" class="catalogue-title-2">Colaboradores de Spotify.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    Esto es determinado por la forma de contratación del servicios(Gratuito o Pago). En caso de ser pago se necesita compartir los datos de los usuarios para una correcta habilitación de la cuenta. <p></p>
                    Ejemplo: Las personas encargadas de la configuración de las cuentas de Spotify.
                </div>
                <div id="div4" class="catalogue-title-2">Investigadores académicos.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    Esto tiene el fin de recabar información para análisis estadísticos y estudios académicos. <p></p>
                    Ejemplo: Alguna investigación que ayude de alguna forma a la sociedad o a Spotify.
                </div>
                <div id="div5" class="catalogue-title-2">Otras empresa del grupo Spotify.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    Es la que permite el correcto funcionamiento de los servicios. <p></p>
                    Ejemplo: Algún problema que surja en la aplicación que lo tenga que solucionar otra entidad del grupo.
                </div>
                <div id="div6" class="catalogue-title-2">Autoridades competentes y agencias de protección de datos.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    Detalla que compartirán la información de buena fé, siempre y cuando sea solicitado por una obligación legal con una orden de registro, citación o un mandamiento judicial. <p></p>
                    Ejemplo: En caso de un hecho ilegal en el que sea necesario ver el contenido de la cuenta o la información del usuario.
                </div>
                <div id="div7" class="catalogue-title-2">Compradores de nuestra empresa.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    En el caso de que la empresa sea vendida o se esté negociando la venta, Spotify igualmente continuará garantizando la confidencialidad de los datos. <p></p>
                    Ejemplo: En el caso de una venta, la empresa compradora debe cotejar el volumen, la calidad y la forma de almacenamiento de los datos antes de comprarla.
                </div>
                <div id="div8" class="catalogue-title-2">Código de ética.</div>
                <div class="catalogue-title-3">
                    <p></p>
                    Los datos personales sólo se utilizan únicamente durante el tiempo que Spotify presta el servicio y obviamente es con finalidades comerciales legítimas y esenciales, como mantener el rendimiento del Servicio de Spotify, adoptar decisiones empresariales basadas en datos relativos a nuevas características y ofertas. Se conservan algunos de sus datos, como, por ejemplo: sus listas de reproducción, biblioteca de canciones e información de cuenta.
                    Asimismo, todos los que conforman Spotify como los directores, gerentes y empleados prometen actuar con honradez para así evitar que su conducta entre en conflicto de interés con su vida personal y profesional.
                </div>
            </div>
        </div>
    </div>
</div>
